<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/pouchdb@7.3.0/dist/pouchdb.min.js"></script>
    <script>
        var db = new PouchDB('gadgets');

        db.post({
            // _id : "id goes here",
            name : "thing doer",
        }).catch(function(err) {
            console.log('Err')
        })

        db.get("id goes here")
            .then(function(doc) {
                console.log(doc);
            })
            .catch(function(err) {
                console.log(err);
            })

        db.replicate.to('http://127.0.0.1:5984/gadgets')
    </script>
</body>
</html>