{% extends "layouts/base.html" %}

{% block title %} Production {% endblock %}

{% block body_class %} sidebar-mini {% endblock body_class %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div>

    <section>
        <div>
            <div><h1>{{ appname.title }}</h1></div>
        </div>
        <div style="max-width: 75%;">
            <table>
                <tbody>
                    {% for model, verbose in zipped_list %}
                        {% if model not in excluded and verbose not in excluded %}
                            <tr>
                                <td>
                                    <a href="{% url model %}"><h3>{{verbose.title}}</h3></a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

</div>

{% endblock content %}

{% block javascripts %}

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

{% endblock javascripts %}